<div class="jumbotron text-center">
  <h1>Bezanis Burger Bar Presented by Guy Fieri</h1> 
    <img src="assets/img/guy.jpg" class="rounded float-right" alt="burgerImage">
</div>

<div class='container-fluid full-width' id='main'>
  <div class='row'>
    <div class='col-sm-4 col-sm-offset-2'>
      <h2>Ready to Eat!</h2>
      {{#each burgers}}
        {{#unless this.devoured}}
          <div class='well'>{{this.id}}: {{this.burger_name}}
            <form class='eat' action='/api/{{this.id}}?_method=PUT' method='POST'>
              <input type='hidden' name='name' value='true'>
              <button type='submit'>EAT!</button>
            </form>
          </div>
        {{/unless}}
      {{/each}}
    </div>
  
    <div class='col-sm-4'>
      <h2>Burgers Eaten!</h2>
      {{#each burgers}}
        {{#if this.devoured}}
          <div class='well well-sm'>{{this.id}}: {{this.burger_name}}</div>
        {{/if}}
      {{/each}}
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-4 col-sm-offset-4'>
      <h2>Make a Burger</h2>
      <form action='/api/' method='POST'>
        <input type='text' name='name'>
        <button type='submit'>Make a Burger!</button>
      </form>
    </div>
  </div>
</div>



